.App {
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url("https://www.riverstoneacu.com/x/cdn/?https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-Blue-White-Background-Image.jpg");
}


/*Search*/

.search button {
    display: inline;
    float: right;
    width: 6%;
    height: 50px;
    background: #2195f3a9;
    color: white;
    font-size: 150%;
    border: 1px solid grey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}


/*Results*/

h3 {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
}

.result {
    width: 85%;
    height: 148px;
    border: 1px grey solid;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
}

.result:hover {
    background-color: whitesmoke;
}

.result>img {
    width: 135px;
    height: 135px;
    padding: 5px;
    border-radius: 15px;
    float: left;
}

.content {
    padding-left: 180px;
}

.content>span {
    float: right;
    margin: 10px;
}

.icons {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

.resources {
    width: 20px;
    height: 20px;
    padding-right: 3px;
    color: grey !important;
}


/*Pagination*/

.pageNumbers {
    list-style: none;
    display: flex;
    background-color: white;
    width: fit-content;
    float: right;
    margin-bottom: 30px;
    margin-right: 7%;
}

.pageNumbers li {
    padding: 5px 10px;
    cursor: pointer;
}

.pageNumbers li.active {
    background-color: #2196F3;
    color: white;
}

.pageNumbers button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.pageNumbers li:hover {
    background-color: #2195f36c;
}