.App {
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url("https://www.riverstoneacu.com/x/cdn/?https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-Blue-White-Background-Image.jpg");
}


/*Results*/

h3 {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
}

.result {
    width: 85%;
    height: 148px;
    border: 1px grey solid;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
}

.result:hover {
    background-color: whitesmoke;
}

.result>img {
    width: 135px;
    height: 135px;
    padding: 5px;
    border-radius: 15px;
    float: left;
}

.content {
    padding-left: 180px;
}

.content>span {
    float: right;
    margin: 10px;
}

.icons {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

.resources {
    width: 20px;
    height: 20px;
    padding-right: 3px;
    color: rgba(0, 0, 255, 0.63) !important;
}